@model TaxiManager.Models.Customer

<div class="jumbotron">
    <h1>Agence.</h1>
</div>

<div class="row">
    <div style="height:500px;padding-left:15px;" id="map_canvas" class="col-sm-12 col-md-12 col-lg-9">



    </div>

    <div class="col-sm-12 col-md-12 col-lg-3">

        @using (Html.BeginForm("NewCustomer", "Agency", FormMethod.Post, new { id = "customerForm" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(x => x.Adress, new { @class = "form-control", @placeholder = "Adresse ..." })
                @Html.ValidationMessageFor(m => m.Adress)
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "Prénom ..." })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>

            <div class="form-group">
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Nom ..." })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>

            <div class="form-group">
                <input type="submit" value="Nouveau client" class="btn btn-success" />
            </div>
        }
    </div>
</div>

@section scripts
{    
    <script type="text/javascript">   
        $(document).ready(function () {
            var map;
            var elevator;
            var myOptions = {
                zoom: 1,
                center: new google.maps.LatLng(0, 0),
                mapTypeId: 'terrain'
            };
            map = new google.maps.Map($('#map_canvas')[0], myOptions);

            var customers = JSON.parse('@Html.Raw(ViewBag.Customers)')
                

            for (var x = 0; x < customers.length; x++) {
                $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + customers[x].Adress + '&sensor=false', null, function (data) {
                    var p = data.results[0].geometry.location
                    var latlng = new google.maps.LatLng(p.lat, p.lng);
                    new google.maps.Marker({
                        position: latlng,
                        map: map
                    });

                });
            }
        });


    </script>
}